{% load static %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="d-flex  align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            
            <h4>
                <small class="fs-6 text-muted fw-light">Bem Vindo:</small><br>
                {{nome}}
            </h4>
        </div>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="/" class="nav-link fun-link">Home</a>
            </li>
             <li class="nav-item">
                <a href="/como-pagar" class="nav-link fun-link">Como Pagar ?</a>
            </li>
            <!--<li class="nav-item">
                <a href="#" class="nav-link fun-link">Serviços</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link fun-link">Transparência</a> -->
            </li>
            <li class="nav-item">
                <a href="/logoff" class="nav-link fun-button">Sair</a>
            </li>
        </ul>
    </header>
</div>